.mobile-footer {
    position: fixed; /* fixed */
    display: flex; /* flex */
    justify-content: space-between; /* justify-between */
    width: 100%; /* w-full */
    bottom: 0; /* bottom-0 */
    z-index: 40; /* z-40 */
    align-items: center; /* items-center */
    background-color: #FFFFFF; /* bg-white */
    border-top-width: 1px; /* border-t-[1px] */
  
    @media (min-width: 1024px) { /* lg:hidden */
      display: none;
    }
  }
  