@import '../../variable.scss';
.userBox {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.75rem; 
  background-color: #ffffff; 
  padding: 0.75rem; 
  border-radius: $border-radius-sm; 
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: #f9fafb; 
  }

  .avatar {
    flex-shrink: 0;
  }

  .content {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.25rem; 
    }

    .name {
      font-size: $button-font-size; 
      font-weight: 500; 
      color: $color-text-advance; 
    }
    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
    .span {
      position: absolute;
      inset: 0;
    }
  }
}

.userList {
  position: fixed;
  top: 0;
  padding-right: 1rem;
  padding-left: 123px;
  bottom: 0;
  padding-bottom: 5rem; 
  // left: 123px;
  display: block; 
  border-right: 1px solid #e5e7eb; 
  background-color: #ffffff; 

  .hidden {
    display: none; 
  }

  .visible {
    display: block;
  }

  .header {
    padding: 0 1.25rem; 

    .title {
      font-size: 1.5rem; 
      font-weight: 700; 
      color: #374151; 
      padding-top: 1rem; 
    }
  }

  .content {
    display: flex;
    flex-direction: column; 
    width: 90%;
  }
}
